.title2{
	border-left: 3px solid #77c558;
	padding-left: 12px;
	line-height: 20px;
	font-weight: lighter;
	font-size: 18px;
}
.teacher_list{
	margin-top: 13px;
}
.teacher_list ul li{
	border-top: 1px dotted #ccc;
	padding: 30px 0;
}
.teacher_list ul li img{
	float: left;
	width: 150px;
	height: 200px;
}
.teacher_list ul li>div{
	float: left;
	margin-left: 50px;
	width: 720px;
}
.teacher_list ul li>div>h3{
	font-size: 16px;
	font-weight: lighter;
	color: #f60;
	line-height: 30px;
}
.teacher_list ul li>div>d1{
	font-size: 13px;
	font-weight: lighter;
	line-height: 30px;
}
.clearfloat img{
	padding: 0px;
}
.clearfloat:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media  screen and (min-width:768px) and (max-width:1023px){
	.clearfloat div{
		position: absolute;
		left: 270px;
		margin-top: 10px;
	}
}
@media  screen and (max-width:767px) {
	.clearfloat img{
		margin-left: 50px;
	}
	.clearfloat div{
		position: absolute;
		left: 180px;
		margin-top: 10px;
	}
}